@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&display=swap");
.center {
  text-align: center;
}

.pb-xl {
  padding-bottom: 10rem;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 60%;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  color: #9fabb2;
  margin: 0;
}

h1,
h2,
h3 {
  color: #4c545d;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 112rem;
}

.small-container {
  max-width: 66.6rem;
  margin: 0 auto;
}

.button {
  padding: 15px 40px;
  border-radius: 50px;
  border: none;
  color: #fff;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  font-size: 1.6rem;
}

@media screen and (max-width: 500px) {
  .button {
    width: 95%;
  }
}

.button:focus {
  outline: none;
}

.button__ios {
  background-color: #26baa4;
  border-bottom: 3px solid #23a995;
  -webkit-box-shadow: 0 9px 16px #aaeee4;
  box-shadow: 0 9px 16px #aaeee4;
}

.button__mac {
  background-color: #6173ff;
  border-bottom: 3px solid #384fff;
  -webkit-box-shadow: 0 6px 12px #99a5ff;
  box-shadow: 0 6px 12px #99a5ff;
}

.header {
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0;
}

.header__logo {
  margin-bottom: 4rem;
}

.header__title {
  margin: 0;
  margin-bottom: 3rem;
}

.header__text {
  margin: 0;
  margin-bottom: 6rem;
}

.intro {
  padding-bottom: 8rem;
  max-width: 72rem;
  margin: 0 auto;
}

.intro__heading {
  margin: 0;
  margin-bottom: 1.3rem;
}

.intro__text {
  margin: 0;
}

.snippets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 900px) {
  .snippets {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    width: 95%;
    max-width: 112rem;
    text-align: center;
  }
}

.snippets__img {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.snippets__img img {
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}

@media screen and (max-width: 900px) {
  .snippets__img img {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin-bottom: 6rem;
  }
}

.snippets__items {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 8rem;
}

@media screen and (max-width: 900px) {
  .snippets__items {
    padding: 0;
  }
}

.snippets__item {
  margin-bottom: 3rem;
}

@media screen and (max-width: 900px) {
  .snippets__item {
    margin-bottom: 6rem;
  }
  .snippets__item:last-child {
    margin-bottom: 0;
  }
}

.snippets__text {
  max-width: 40rem;
  line-height: 2.8rem;
}

@media screen and (min-width: 768px) {
  .feature__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.feature__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 2rem;
}

.feature__icon {
  width: 4rem;
}

.feature__text {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.company__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .company__logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.company__logo {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .company__logo {
    padding: 0;
  }
  .company__logo:not(:last-child) {
    margin-bottom: 6rem;
  }
}

.footer {
  background-color: #f7f8f8;
  text-align: center;
  padding: 8rem 0 6rem 0;
}

@media screen and (min-width: 900px) {
  .footer {
    text-align: left;
  }
}

@media screen and (min-width: 900px) {
  .footer__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [4] 2fr;
    grid-template-columns: repeat(4, 1fr) 2fr;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "logo listOne listTwo listThree social"
      "logo listOne listTwo ... ...";
    justify-items: start;
  }
}

.footer__logo {
  width: 8rem;
  margin-bottom: 5rem;
}

@media screen and (min-width: 900px) {
  .footer__logo {
    grid-area: logo;
    margin-bottom: 0;
  }
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list--one {
  margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
  .footer__list--one {
    grid-area: listOne;
  }
}

.footer__list--two {
  margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
  .footer__list--two {
    grid-area: listTwo;
  }
}

@media screen and (min-width: 900px) {
  .footer__list--three {
    grid-area: listThree;
  }
}

.footer__item {
  margin-bottom: 2rem;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__link {
  color: #4c545d;
  font-weight: 500;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.footer__link:hover {
  color: #26baa4;
}

.footer__social {
  margin-top: 6rem;
}

@media screen and (min-width: 900px) {
  .footer__social {
    grid-area: social;
    margin-top: 0;
    -ms-grid-column-align: end;
    justify-self: end;
  }
}

.footer__social--facebook {
  padding-right: 2.5rem;
}

.footer__social--facebook svg path {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.footer__social--facebook svg path:hover {
  fill: #6173ff;
}

.footer__social--twitter {
  padding-right: 2.5rem;
}

.footer__social--twitter svg path {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.footer__social--twitter svg path:hover {
  fill: #26baa4;
}

.footer__social--instagram svg path {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.footer__social--instagram svg path:hover {
  fill: #26baa4;
}
/*# sourceMappingURL=main.css.map */
